h1{
    color: blueviolet;
}

    

h1,h2,h3{
    color: 
blueviolet;
    
}

@font-face {
    font-family:jester;
    src: url(Fontes/Jester.ttf);
}

body{color: rgb(166, 168, 47);
    background-color: rgba(24, 211, 56, 0.459);
    font-family: jester,arial,sans-serif;}

    p{font-family:roboto;arial;
        color: brown;}

    h1{font-size: 16px;}